h1,
h2,
h3,
label,
a {
  font-family: "Proza Libre", sans-serif;
}

input,
label,
textarea {
  display: block;
  width: 100%;
}

body {
  background-color: rgb(240, 240, 240);
}

header {
  background-color: rgb(86, 42, 129);
}

h1 {
  color: white;
  font-weight: 100;
  font-size: 22px;
  margin: 0;
  padding: 1rem 0;
}

h2 {
  font-size: 32px;
  margin: 1rem 0;
}

img {
  width: 100%;
  max-height: 230px;
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 1rem;
}

label {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

textarea {
  padding: 0.5rem;
}

input,
textarea {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
}

input:focus,
textarea:focus {
  outline: 2px solid rgb(86, 42, 129);
}

.button-align {
  display: flex;
  margin-top: 1rem;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

a,
button {
  background-color: rgb(86, 42, 129);
  width: 60px;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.3rem;
}

.new-button-align {
  display: flex;
  justify-content: space-between;
}

.new-button {
  margin: 1.5rem 0;
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h3 {
  margin-top: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

.entry {
  margin-bottom: 1rem;
}

.no-entries {
  justify-content: center;
  margin: 2rem auto;
}

.hidden {
  display: none;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.nav-align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa-pen {
  color: rgb(86, 42, 129);
}

.icon-align {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  background-color: rgba(255, 255, 255, 0);
  color: red;
  text-decoration: underline;
  width: auto;
  padding: 0;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgb(50 50 50 / 90%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: white;
}

.cancel-button {
  background-color: rgb(182, 182, 182);
  color: black;
  width: 75px;
}

.confirm-button {
  background-color: rgb(220, 38, 37);
  color: white;
  width: 75px;
}

.delete-message {
  font-size: 13.4px;
  margin-bottom: 1.5rem;
}

.search-bar-align {
  display: flex;
  margin-bottom: 2.5rem;
}

#search {
  width: 282px;
  margin: 0;
}
